<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> <!-- to show/hide columns on stats.html -->
</head>

<body class="{{ request.cookies.get('pref_theme')|e }}">
	{% include 'nav.html' %}
	<div class="everything">
		{%block content %}{% endblock %}
	</div>
	{% include 'footer.html' %}
</body>

</html>
