<footer class="footer">
    <!-- style selection form -->
    <p>
        <form action="{{ url_for('main.set_pref_theme') }}" method="POST" id="theme_form">
                <select name="pref_theme" id="pref_theme" class="form-box">
                <option disabled selected>- Styles -</option>
                <option value="theme-darkgreen">Black/green{% if request.cookies.get('pref_theme')|e == 'theme-darkgreen' %} *{% endif %}</option>
                <option value="theme-blue">Blue/orange{% if request.cookies.get('pref_theme')|e == 'theme-blue' %} *{% endif %}</option>
            </select>
            <!--<button type="submit" class="submit-button" id="pref_theme_btn">Submit</button>-->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <p id="footer_loading_note" class="successn">loading...</p>
        </form>
    </p>
    <!-- end style selection-->
    <p class="mobile_device_test">MOBILE DEVICE</p> <!-- testing media query for mobiles -->
</footer>
