<nav>
	<ul class="navigation">
		<li>
			<a class="site-title" href="{{url_for('main.index')}}">{{SUBDOMAIN}}<span class="dotnet">{{TLD}}</span></a>
		</li>
		<li>
			<a href="{{url_for('main.index')}}">Home</a>
		</li>
		<li>
			<a href="{{url_for('main.about')}}">About</a>
		</li>
		{% if current_user.is_authenticated %}
		<li class="dropdown">
			<a href="#" class="dropbtn">Stats</a>
			<div class="dropdown-content">
				<a href="{{url_for('main.stats', limit='100')}}">Requests</a>
				<a href="{{url_for('main.loginStats')}}">Logins</a>
				<a href="{{url_for('main.methodStats', method='GET')}}">Method: GET</a>
				<a href="{{url_for('main.methodStats', method='POST')}}">Method: POST</a>
				<a href="{{url_for('main.reported_stats', reported='1')}}">Reported</a>
				<a href="{{url_for('main.proxy_connection_header_stats')}}">Sent Proxy Headers</a>
				<a href="{{url_for('main.return_search_page')}}">Search</a>
			</div>
		</li>
		{% endif %}
		<li>
			{% if not current_user.is_authenticated %}
			<a href="{{url_for('auth.login')}}">Login</a>
			{% endif %}
			{% if current_user.is_authenticated %}
			<a href="{{url_for('auth.logout')}}">Log Out</a>
			{% endif %}
		</li>
		{% if current_user.is_authenticated %}
		<li>
			<p class="loggedInUsername message">Logged in as: {{ current_user.username }}</p>
		</li>
		{% endif %}
	</ul>
</nav>
