<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Headers</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> <!-- to show/hide columns -->
</head>
<body>
	{% include 'header.html' %}
	<div class="everything"><center>
        <h1>Headers</h1>
        <div class="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, msg in messages %}
                        <p class="{{category}}">{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <h2>Headers sent in request #{{request_id}}</h2>

            <table class="header_single">

                <tr class="dim">
                    <td>Header</td>
                    <td>Value</td>
                </tr>

                {% for header_name, header_value in stats.items(): %}
                <tr>
                    <td>{{header_name}}</td>
                    <td class="mono small">{{header_value}}</td>
                </tr>
                {% endfor %}
            </table>

            <p>
                <a href="{{ url_for('main.headers_single_json', request_id=prev_request_id) }}" class="page">Previous</a>&nbsp;-&nbsp;<a href="{{ url_for('main.headers_single_json', request_id=next_request_id) }}" class="page">Next</a>
            </p>

        </div>
    </center>
	</div>
</body>
</html>
