{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
        <h1>Dashboard</h1>
        <article class="content contentSmall">
            {% if message %}<p>{{message}}</p>{% endif %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, msg in messages %}
                        <p class="{{category}}">{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </article>
{% endblock %}