{% extends 'base.html' %}
{% block title %}Stats - Logins{% endblock %}
{% block content %}
        <h1><span class="dim">Stats -></span> Logins</h1>
        <div class="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, msg in messages %}
                        <p class="{{category}}">{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <p>Total auth attempts in database: {{totalLogins}}</p>
            {% if stats %}
            <h2>Most recent login attempts: </h2>
            <div id="dataToggles">
                Toggle data columns:
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataID" class="sv0">#
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataIP" class="sv1" checked>IP
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataUsername" class="sv1" checked>Username
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataPassword" class="sv1" checked>Password
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataTime" class="sv0" checked>Time
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataLinks" class="sv0" checked>Info Links
                </label>
                {% if current_user.is_admin %}
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataDeleteRow">Delete
                </label>
                {% endif %}
            </div>
            <br />
            <table>
                <thead>
                <tr>
                    <th class="dataID sv0 hidden selectt">#</th>
                    <th class="dataIP sv1 selectt">IP</th>
                    <th class="dataUsername sv1 selectt">Username</th>
                    <th class="dataPassword sv1 selectt">Password</th>
                    <th class="dataTime sv0 selectt">Time</th>
                    <th class="dataLinks sv0 selectt">Links</th>
                    {% if current_user.is_admin %}<th class="dataDeleteRow hidden">Delete</th>{% endif %}
                </tr>
                </thead>
                {% for row in stats: %}
                <tr>
                    <td class="dataID sv0 hidden dim">{{row['id']}}</td>
                    <td class="dataIP sv1 selectt ipToLink"><a href="{{url_for('main.ipStats', ipAddr=row['remoteaddr'])}}">{{row['remoteaddr']}}</a></td>
                    <td class="dataUsername sv1 selectt">{{row['username']}}</td>
                    <td class="dataPassword sv1 selectt">{{row['password']}}</td>
                    <td class="dataTime sv0 selectt">{{row['time']}}</td>
                    <td class="dataLinks sv0 ipToLink selectt"><a href="https://www.abuseipdb.com/check/{{row['remoteaddr']}}" target="_blank">AbuseIPDB</a> <span class="dim">|</span> <a href="https://ipinfo.io/{{row['remoteaddr']}}" target="_blank">IPinfo.io</a></td>
                    {% if current_user.is_admin %}
                        <td class="dataDeleteRow dataToLink dim hidden">
                            <!--<form action="{{ url_for('main.delete_login_record', login_id=row['id']) }}" method="POST" id="delete_button">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="delete-button">&#10060; Delete</button>
                            </form> -->

                            <!-- delete button; opens delete confirmation modal -->
                            <button class="delete-button" id="delete_button_{{row['id']}}" for_id="{{row['id']}}">&#10060;</button>
                            <!-- delete confirmation modal -->
                            <div id="delete_confirmation_modal_{{row['id']}}" class="modal">
                                <form class="modal-content" action="{{ url_for('main.delete_login_record', login_id=row['id']) }}" method="POST" id="delete_form_{{row['id']}}" for_id="{{row['id']}}">
                                    <span class="close modal_close" id="modal_x_{{row['id']}}" title="Close Modal" for_id="{{row['id']}}">&times;</span>
                                    <div class="container">
                                        <h1>Delete Login Record #{{ row['id'] }}</h1>
                                        <p>Are you sure you want to delete the row?</p>
                                        <div class="clearfix">
                                            <button type="button" class="modal_btn modal_redbtn_b modal_close" id="modal_cancel_{{row['id']}}" for_id="{{row['id']}}">Cancel</button>
                                            <button type="submit" class="modal_btn modal_greenbtn">Delete</button>
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- end delete confirm modal -->
                        </td>
                    {% endif %} {# end admin check + modal #}
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
{% endblock %}
