{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
        <h1>Login</h1>
        <div id="form-div">
            <h2>Log In</h2>
            
            <form action="/nigol" method="POST" id="loginForm">
                <p>
                    <!-- <label for="username"><b>Username</b></label> -->
                    <input type="username" id="username" name="username" placeholder="Username" class="form-box" title="Enter your username/email" required />
                </p>
                <p>
                    <!-- <label for="password"><b>Password</b></label> -->
                    <input type="password" id="password" name="password" placeholder="Password" class="form-box" title="Password" required />
                </p>
                <p>
                    <input type="checkbox" name="remember">Remember me
                </p>
                {% if HCAPTCHA_SITE_KEY %}
                <!-- hCaptcha widget -->
                <div class="h-captcha" data-sitekey="{{ HCAPTCHA_SITE_KEY }}" data-theme="dark"></div>
                <!-- end hCaptcha -->
                {% endif %}
                <p>
                    <button type="submit" class="submit-button">Login</button>
                </p>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </form>
        <p>{{message}}</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, msg in messages %}
                        <p class="{{category}}">{{msg}}</p>
                    {% endfor %}
                {% endif %}
        {% endwith %}

        </div>

    {% if HCAPTCHA_SITE_KEY %}
    <!-- hCaptcha script -->
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <!-- end hCaptcha -->
    {% endif %}
{% endblock %}
