<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stats / Logins</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> <!-- to show/hide columns -->
</head>
<body>
	{% include 'header.html' %}
	<div class="everything"><center>
        <h1>Stats -> Logins</h1>
        <div class="content">
            <p>Total auth attempts in database: {{totalLogins}}</p>
            <h2>Most recent login attempts: </h2>

            <div id="dataToggles">
                Toggle data columns:
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataIP" checked>IP
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataUsername" checked>Username
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataPassword" checked>Password
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataTime" checked>Time
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataLinks" checked>Info Links
                </label>
            </div>
            <br />

            <table>
                <thead>
                <tr>
                    <th class="dataIP selectt">IP</th>
                    <th class="dataUsername selectt">Username</th>
                    <th class="dataPassword selectt">Password</th>
                    <th class="dataTime selectt">Time</th>
                    <th class="dataLinks selectt">Links</th>
                </tr>
                </thead>
                {% for row in stats: %}
                <tr>
                    <td class="dataIP selectt ipToLink"><a href="{{url_for('main.ipStats', ipAddr=row['remoteaddr'])}}">{{row['remoteaddr']}}</a></td>
                    <td class="dataUsername selectt">{{row['username']}}</td>
                    <td class="dataPassword selectt">{{row['password']}}</td>
                    <td class="dataTime selectt">{{row['time']}}</td>
                    <td class="dataLinks ipToLink selectt"><a href="https://www.abuseipdb.com/check/{{row['remoteaddr']}}" target="_blank">AbuseIPDB</a> <span class="dim">|</span> <a href="https://ipinfo.io/{{row['remoteaddr']}}" target="_blank">IPinfo.io</a></td>
                </tr>
                {% endfor %}
            </table>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('input[type="checkbox"]').click(function() {
                        var inputValue = $(this).attr("value");
                        $("." + inputValue).toggle();
      
                    });
                });
            </script>

        </div>
    </center>
	</div>
</body>
</html>
