<a href="{{url_for('main.stats', page=1)}}">Recent Requests</a>
<a href="{{url_for('main.loginStats')}}">Logins</a>
<a href="{{url_for('main.reported_stats', reported='1')}}">Reported</a>
<a href="{{url_for('main.methodStats', method='GET')}}">Method: GET</a>
<a href="{{url_for('main.methodStats', method='POST')}}">Method: POST</a>
<a href="{{url_for('main.ipStats', ipAddr='*:*')}}">All IPv6</a>
<a href="{{url_for('main.proxy_connection_header_stats')}}">Headers: Proxy-Auth</a>
<a href="{{url_for('main.headers_key_search', key='Authorization')}}">Headers: Authorization</a>
<a href="{{url_for('main.headers_key_search', key='Via')}}">Headers: Via</a>
<a href="{{url_for('main.headers_key_search', key='X-Requested-With')}}">Headers: X-Requested-With</a>
<a href="{{url_for('main.hostname_stats', hostname='.cn')}}">Hostname: *.cn</a>
<a href="{{url_for('main.uaStats', ua='%http%://%')}}">User-Agent: Contains URL</a>
<a href="{{url_for('main.bodyStats', body='%25_%25') }}">Body: Any included</a>
<a href="{{url_for('main.bodyRawStats', body='^.*0x.*5B.*5D.*=.*$') }}">Body: AndroxGh0st/variants</a>
