 <!-- For hamburger icon -->
 <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

 <nav class="mobile">
 <div class="topnav" id="myTopnav">
    <a href="{{url_for('main.stats', page=1)}}">Home</a>
    {% if not current_user.is_authenticated %}
      <a href="{{url_for('auth.login')}}">Login</a>
    {% endif %}
    {% if current_user.is_authenticated %}
    <a href="{{url_for('auth.logout')}}">Log Out | {{ current_user.username }}</a>
    <a href="{{url_for('main.return_search_page')}}">Search</a>

    <a href="#" class="drop_btn_1">Stats</a>
    <span class="drop_hidden_1">
      <a href="{{url_for('main.stats', page=1)}}">Recent Requests</a>
      <a href="{{url_for('main.loginStats')}}">Logins</a>
      <a href="{{url_for('main.reported_stats', reported='1')}}">Reported</a>
      <a href="{{url_for('main.methodStats', method='GET')}}">Method: GET</a>
      <a href="{{url_for('main.methodStats', method='POST')}}">Method: POST</a>
      <a href="{{url_for('main.ipStats', ipAddr='*:*')}}">All IPv6</a>
      <a href="{{url_for('main.proxy_connection_header_stats')}}">Headers: Proxy-Auth</a>
      <a href="{{url_for('main.headers_key_search', key='Authorization')}}">Headers: Authorization</a>
      <a href="{{url_for('main.headers_key_search', key='Via')}}">Headers: Via</a>
      <a href="{{url_for('main.headers_key_search', key='X-Requested-With')}}">Headers: X-Requested-With</a>
      <a href="{{url_for('main.hostname_stats', hostname='.cn')}}">Hostname: *.cn</a>
      <a href="{{url_for('main.uaStats', ua='%http%://%')}}">User-Agent: Contains URL</a>
      <a href="{{url_for('main.bodyStats', body='%25_%25') }}">Body: Any included</a>
      <a href="{{url_for('main.bodyStats', body='%25%255B%255D=%25') }}">Body: AndroxGh0st/variants</a>{# '0x%255B%255D=%25' #}
    </span>

    <a href="#" class="drop_btn_2">Analysis</a>
    <span class="drop_hidden_2">
      <a href="{{url_for('analysis.total_per_day', num_of_days=7)}}">Total hits/day, 7 days</a>
      <a href="{{url_for('analysis.total_per_day', num_of_days=30)}}">Total hits/day, 30 days</a>
      <a href="{{url_for('analysis.ip_per_day', days=30, ip='*:*')}}">IPv6 total/day, 30 days</a>
      <a href="{{url_for('analysis.ip_per_day', days=7, ip='*')}}">IP per day</a>
      <a href="{{url_for('analysis.top_ips', limit=36)}}">Top IPs</a>
      <a href="{{url_for('analysis.top_ten_paths', limit=25)}}">Top Paths</a>
      <a href="{{url_for('analysis.top_uas', limit=25)}}">Top User-Agents</a>
      <a href="{{url_for('analysis.top_cts', limit=25)}}">Top Content-Type</a>
    </span>
    {% endif %}

      <!-- Menu toggle button -->
    <a href="javascript:void(0);" class="icon" id="nav_toggle_btn">&#x2630; Menu
    <!--<i class="fa fa-bars"></i>-->
   </a>
 </div> 
 <script src="{{ url_for('static', filename='js/nav-mobile.js') }}"></script>
</nav>
