 <!-- For hamburger icon -->
 <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->

 <nav class="mobile">
 <div class="topnav" id="myTopnav">
    <a href="{{url_for('main.stats', page=1)}}" class="active">{{SUBDOMAIN}}{{TLD}}</a>
    <a href="{{url_for('main.stats', page=1)}}">Home</a>
    <a href="{{url_for('main.about')}}">About</a>
    {% if not current_user.is_authenticated %}
      <a href="{{url_for('auth.login')}}">Login</a>
    {% endif %}
    {% if current_user.is_authenticated %}
    <a href="{{url_for('auth.logout')}}">Log Out | {{ current_user.username }}</a>
    <a href="{{url_for('main.return_search_page')}}">Search</a>

    <a href="#" class="drop_btn_1">Stats</a>
    <span class="drop_hidden_1">
      {% include 'nav-links-stats.html' %}
    </span>

    <a href="#" class="drop_btn_2">Analysis</a>
    <span class="drop_hidden_2">
      {% include 'nav-links-analysis.html' %}
    </span>
    {% endif %}

      <!-- Menu toggle button -->
    <a href="javascript:void(0);" class="icon" id="nav_toggle_btn" title="Menu"><!-- &#x2630; -->
      <i class="fa fa-bars" title="&#x2630; Menu"></i>
   </a>
 </div> 
 <script src="{{ url_for('static', filename='js/nav-mobile.js') }}"></script>
</nav>
