<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="everything">
        <h1>Search</h1>
        <div class="content contentSmall formDiv">
            <h2>Search for HTTP requests where:</h2>
            
            <form action="{{ url_for('main.parse_search_form') }}" method="GET" id="searchForm">
                <p>
                    <label for="chosen_query">Field to search:</label><br>
                    <select name="chosen_query" id="chosen_query" class="form-box">
                        <option value="ip_string">IP Address (use * for wildcard)</option>
                        <option value="url">URL (including any Query params)</option>
                        <option value="header_string">Headers</option>
                        <option value="ua_string">User-agent</option>
                        <option value="body_string">Body</option>
                        <option value="hostname_string">Hostname</option>
                    </select>
                    <br/>
                    <label for="query_text">Contains:</label>
                    <br/>
                    <input type="search" name="query_text" id="query_text" class="form-box" placeholder="String to match">
                </p>
                <p>
                    <button type="submit" class="submit-button">Submit</button>
                </p>
            </form>
        <p>{{message}}</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, msg in messages %}
                        <p class="{{category}}">{{msg}}</p>
                    {% endfor %}
                {% endif %}
        {% endwith %}

        </div>
    </div>
    
</body>
</html>
