{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
        <h1>Search</h1>
        <div class="content contentSmall formDiv">
            <h2>Search for HTTP requests where:</h2>
            <search>
                <form action="{{ url_for('main.parse_search_form') }}" method="GET" id="searchForm">
                    <p>
                        <label for="chosen_query">Field to search:</label><br>
                        <select name="chosen_query" id="chosen_query" class="form-box">
                            <optgroup label="Client">
                                <option value="ip_string">IP Address (v4/v6, * for wildcard)</option>
                                <option value="cidr_string">CIDR Subnet (v4 or v6)</option>
                                <option value="hostname_endswith">Hostname (ends with)</option>
                                <option value="hostname_contains">Hostname (contains)</option>
                            </optgroup>
                            <optgroup label="Request Properties">
                                <option value="url">URL (including any Query params)</option>
                                <option value="header_string">Headers</option>
                                <option value="header_key">Headers: Keys only</option>
                                <option value="content_type">Content-Type</option>
                                <option value="ua_string">User-agent</option>
                                <option value="body_string">Body</option>
                            </optgroup>
                        </select>
                        <br/>
                        <label for="query_text">Contains:</label>
                        <br/>
                        <input type="search" name="query_text" id="query_text" class="form-box" placeholder="String to match">
                    </p>
                    <p>
                        <button type="submit" class="submit-button">Submit</button>
                    </p>
                </form>
            </search>
        <p>{{message}}</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, msg in messages %}
                        <p class="{{category}}">{{msg}}</p>
                    {% endfor %}
                {% endif %}
        {% endwith %}

        </div>
{% endblock %}
