<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stats</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> <!-- to show/hide columns -->
</head>
<body>
	{% include 'header.html' %}
	<div class="everything"><center>
        <h1><span class="dim">Stats -></span> {{statName}}</h1>
        <div class="content">
            <p>Total hits in database: {{totalHits}}</p>

            {% if top_ip %}
            <p>Most common IP: <a href="{{url_for('main.ipStats', ipAddr=top_ip['remoteaddr'])}}">{{top_ip['remoteaddr']}}</a> seen {{top_ip['count']}} times.</p>
            {% endif %}

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, msg in messages %}
                        <p class="{{category}}">{{msg}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <h2>Most Recent Requests matching query</h2>

            <div id="dataToggles">
                Toggle data columns:
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataID">#
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataIP" checked>IP
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataURL" checked>URL
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataMethod" checked>Method
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataQueryString" checked>Query String
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataHostname" checked>Hostname
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataTime" checked>Time
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataPostData" checked>POST Data
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataUA" checked>User Agent
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataHeaders">Headers
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataLinks" checked>Info Links
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataReported">Reported
                </label>
            </div>
            <br />

            <table>
                <thead>
                <tr>
                    <th class="dataID hidden">#</th>
                    <th class="dataIP selectt">IP</th>
                    <th class="dataURL selectt">URL</th>
                    <th class="dataMethod selectt">Method</th>
                    <th class="dataQueryString selectt">Query String</th>
                    <th class="dataHostname selectt">Hostname</th>
                    <th class="dataTime selectt">Time</th>
                    <th class="dataPostData selectt">POST Data</th>
                    <th class="dataUA selectt">User Agent</th>
                    <th class="dataHeaders selectt hidden">Headers</th>
                    <th class="dataLinks">Links</th>
                    <th class="dataReported hidden">Reported</th>
                </tr>
                </thead>
                {% for row in stats: %}
                <tr>
                    <td class="dataID dataToLink dim hidden"><a href="{{url_for('main.headers_single_pretty', id=row['id'])}}">{{row['id']}}</a></td>
                    <td class="dataIP ipToLink selectt"><a href="{{url_for('main.ipStats', ipAddr=row['remoteaddr'])}}">{{row['remoteaddr']}}</a></td>
                    <td class="dataURL dataToLink selectt"><a href="{{url_for('main.urlStats', url=row['url'])}}">{{row['url']}}</a></td>
                    <td class="dataMethod dataToLink selectt"><a href="{{url_for('main.methodStats', method=row['requestmethod'])}}">{{row['requestmethod']}}</a></td>
                    <td class="dataQueryString dataToLink mono smaller selectt"><a href="{{url_for('main.queriesStats', query=row['querystring'])}}">{{row['querystring']|e}}</a></td>
                    <td class="dataHostname dataToLink selectt"><a href="{{url_for('main.hostname_stats', hostname=row['hostname'])}}">{{row['hostname']}}</a></td>
                    <td class="dataTime selectt">{{row['time']}}</td>
                    <td class="dataPostData dataToLink mono smaller selectt"><a href="{{url_for('main.bodyStats', body=row['postjson'])}}">{{row['postjson']|e}}</a></td>
                    <td class="dataUA dataToLink selectt"><a href="{{url_for('main.uaStats', ua=row['useragent']|urlencode)}}">{{row['useragent']|e}}</a></td>
                    <td class="dataHeaders smallerer mono selectt hidden">{{row['headers']|e}}</td>
                    <td class="dataLinks ipToLink"><a href="https://www.abuseipdb.com/check/{{row['remoteaddr']}}" target="_blank">AbuseIPDB</a> <span class="dim">|</span> <a href="https://ipinfo.io/{{row['remoteaddr']}}" target="_blank">IPinfo.io</a></td>
                    <td class="dataReported hidden">{{row['reported']}}</td>
                </tr>
                {% endfor %}
            </table>
            
            <script type="text/javascript">
                $(document).ready(function() {
                    $('input[type="checkbox"]').click(function() {
                        var inputValue = $(this).attr("value");
                        $("." + inputValue).toggle();
      
                    });
                });
            </script>

        </div>
    </center>
	</div>
</body>
</html>
