<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stats</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> <!-- to show/hide columns -->
</head>
<body>
	{% include 'header.html' %}
	<div class="everything"><center>
        <h1>Stats -> {{statName}}</h1>
        <div class="content">
            <p>Total hits in database: {{totalHits}}</p>
            <h2>100 Most Recent Requests</h2>

            <div id="dataToggles">
                Toggle data columns:
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataURL" checked>URL
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataMethod" checked>Method
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataQueryString" checked>Query String
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataHostname">Hostname
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataTime" checked>Time
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataPostData" checked>POST Data
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataUA" checked>User Agent
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataHeaders">Headers
                </label>
                <label>
                    <input type="checkbox" name="dataCheckbox" value="dataLinks" checked>Info Links
                </label>
            </div>
            <br />

            <table>
                <thead>
                <tr>
                    <th>IP</th>
                    <th class="dataURL selectt">URL</th>
                    <th class="dataMethod selectt">Method</th>
                    <th class="dataQueryString selectt">Query String</th>
                    <th class="dataHostname selectt hidden">Hostname</th>
                    <th class="dataTime selectt">Time</th>
                    <th class="dataPostData selectt">POST Data</th>
                    <th class="dataUA selectt">User Agent</th>
                    <th class="dataHeaders selectt hidden">Headers</th>
                    <th class="dataLinks">Links</th>
                </tr>
                </thead>
                {% for row in stats: %}
                <tr>
                    <td class="ipToLink"><a href="{{url_for('main.ipStats', ipAddr=row['remoteaddr'])}}">{{row['remoteaddr']}}</a></td>
                    <td class="dataURL selectt">{{row['url']|e}}</td>
                    <td class="dataMethod selectt">{{row['requestmethod']}}</td>
                    <td class="dataQueryString selectt">{{row['querystring']}}</td>
                    <td class="dataHostname selectt hidden">{{row['hostname']}}</td>
                    <td class="dataTime selectt">{{row['time']}}</td>
                    <td class="dataPostData selectt">{{row['postjson']}}</td>
                    <td class="dataUA selectt">{{row['useragent']}}</td>
                    <td class="dataHeaders httpHeaders selectt hidden">{{row['headers']}}</td>
                    <td class="dataLinks ipToLink"><a href="https://www.abuseipdb.com/check/{{row['remoteaddr']}}" target="_blank">AbuseIPDB</a> | <a href="https://ipinfo.io/{{row['remoteaddr']}}" target="_blank">IPinfo.io</a></td>
                </tr>
                {% endfor %}
            </table>
            
            <script type="text/javascript">
                $(document).ready(function() {
                    $('input[type="checkbox"]').click(function() {
                        var inputValue = $(this).attr("value");
                        $("." + inputValue).toggle();
      
                    });
                });
            </script>

        </div>
    </center>
	</div>
</body>
</html>